<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">
<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>
<script>
var json = {{datatables_array|safe}};

$(document).ready(function () {
$('#table3').DataTable({
    data: json,
    columns: [
        {% for header in datables_headers %}
            { data: '{{header}}' },
        {% endfor %}
    ],
  });
});
</script>
</head>
<body>
    <table id="table3" class="display" style="width:100%">
        <thead>
            <tr>
                {% for header in datables_headers %}
                <th>{{header}}</th>
                {% endfor %}            
            </tr>
        </thead>
    </table>

</body>
</html>