<!DOCTYPE html>
<title> {{html_title}}</title>
<body>
	{% if users %}
	<form method="POST">
	{% csrf_token %}
	{% for user in users %}
	<input type="checkbox" value="{{user.username}}" name="delete">{{user.username}}<br>
	{% endfor %}
	{% endif %}
	<input type="submit" class="btn" value="Delete">
	</form>
{% if deleted_users %}
{% if deleted_users|length == 1 %}
{{deleted_users | length }}
<h3><b>Deleted user</b></h3>
{% else %}
<h3><b>Deleted users</b></h3>
{% endif %}
<ul>
{% for user in deleted_users %}
<li>{{user}}</li>
{% endfor %}
{% endif %}
</body>

