{% extends 'myusers/base.html' %}
{% block title %}{{html_title}} {% endblock %}
{% block content %}
<form class="test" method="POST">
{% csrf_token %}
{{form.as_p}}
<input type="submit" class="btn" value="Update profile">
</form>
{% if message %}
<b>{{message}}</b>
{% endif %}
{% endblock %}
