<!DOCTYPE html>
<title>{{html_title}}</title>
{% if user.is_authenticated %}
<h1>If you see this message, it means that you are authenticated</h1>
<p>If you wish, for troubleshooting purposes or w/e you can logout clicking the link below</p>
{% else %}
<h1>NOT LOGGED IN, but this is the homepage..</h1>
{% endif %}
