<!DOCTYPE html>
<title> {{html_title}}</title>
<body>
	{% if users %}
	<ul>
	{% for user in users %}
	<li>{{user.username}}</li>
	{% endfor %}
	</ul>
	{% endif %}
<b>There currently {{user_count}} users in the database </b>
</body>

