<!DOCTYPE html>
<title> {{html_title}}</title>
<form class="test" action="" method="POST">
	<!-- <form class="test" action="{% url 'home' %}" method="POST"> -->
	{% csrf_token %}
	{{ form.as_p }}
	<input type="submit" class="btn" value="Login">
</form>
