{% block title %}{{html_title}}{% endblock %}
{% block content %}
{% load filters %}
<table class="x">
<tr>
<th>Firstname</th>
<th>Lastname</th>
<th>email</th>
</tr>
<tr>
<td>{{user.first_name}}</td>
<td>{{user.last_name}}</td>
<td>{{user.email | low_upper }}</td>
</tr>
</table>
<b>There are {{user_count}} users in total </b>
<p>{{current_time}}</p>
<p> {{current_time | generate_hash }}
{% endblock %}
