<!DOCTYPE html>
<title> {% block title %}Dont forget to set a title{% endblock %} </title>
{% block scripts %}
{% endblock %}
<style>
    table, th, td {
      border: 1px solid black;
    }
</style>
{% block content %}
{% endblock %}

