{% extends 'devices/base.html' %}
{% block title %}{{title}}{% endblock %}
{% block content %}
<h2>Create customer</h2>
    
<form method="post">{% csrf_token %}
    {{form.as_p}}
    <input type="submit" value="Create">
</form>
{% endblock %}