{% extends 'devices/base.html' %}
{% block title %}{{title}}{% endblock %}
{% block content %}
    <h2>Customers</h2>
    <ul>
        {% for customer in customer_list %}
            <li>{{ customer.company }}</li>
        {% endfor %}
    </ul>
{% endblock %}