{% extends 'devices/base.html' %}
{% block title %}{{title}}{% endblock %}
{% block content %}
<h2>Contact page for {{customer.company}}</h2>
<table> 
    <tr>
    <th>Company name</th>
    <th>Contact Person</th>
    <th>contact email</th>
    <th>contact id</th>
</tr>

    <tr>
        <td>{{customer.company}}</td>
        <td>{{customer.contact_person}}</td>
        <td>{{customer.contact_email}}</td>
        <td>{{customer.id}}</td>
    </tr>
    </table>


</table>
{% endblock %}