{% extends 'devices/base.html' %}
{% block title %}{{title}}{% endblock %}
{% block content %}
<h2>Delete customer</h2>
    fghfhg
<form method="post">{% csrf_token %}
    <p>Are you sure you want to delete company: {{object}}?</p>
    <input type="submit" value="Delete" onclick="return doConfirm()">
</form>


<script>
    function doConfirm() {
        var delete_company = confirm("Are you sure you want to delete company: {{object}}?");
        if (delete_company) {
            window.location.replace("https://google.nl");
            //window.location = "{% url 'customer_delete' pk=customer.id %}";
        }
        else {
            //window.location.href = "https://google.nl";
            window.location.replace("https://google.nl");
        }
    }
    </script>

{% endblock %}