{% extends 'devices/base.html' %}
{% block title %}{{title}}{% endblock %}
{% block content %}
    <h2>Customers</h2>
    <table>
        <tr>
            <th>Company name</th>
            <th>Contact person</th>
            <th>Contact e-mail</th>
            <th>Detail page</th>
            <th>Edit customer</th>
            <th>Delete customer</th>
        </tr>
        {% for customer in customer_list %}
        <tr>
            <td>{{customer.company}}</td>
            <td>{{customer.contact_person}}</td>
            <td>{{customer.contact_email}}</td>
            <td><a href="{% url 'customer_detail' pk=customer.id %}">detail</a></td>
            <td><a href="{% url 'customer_update' pk=customer.id %}">edit</a></td>
            <td><a href="{% url 'customer_delete' pk=customer.id %}">delete</a></td>
        </tr>
        {% endfor %}
    </table>
<p><a href="{% url 'customer_create' %}">Add customer</a></p>
{% endblock %}