{% extends 'devices/base.html' %}
{% block title %}{{title}}{% endblock %}
{% block content %}
<form class="test" method="POST">
    {% csrf_token %}
{{form.as_p}}
<input type="submit" class="btn" value="Submit">
</form>
{% if url_message %}
<p>x -> {{url_message}}</p>
{% endif %}
{% endblock %}