<!DOCTYPE html>
{% load static %}
<title>{{html_title}}</title>
<link rel="stylesheet" type="text/css" href="{% static "users/tables.css"%}">
<body>
	<h4>Oldest</h4>
	<b>{{ user_set.oldest.username }} -> {{user_set.oldest.days }} days</b>
	<h4>Youngest</h4>
	<b>{{ user_set.youngest.username }} -> {{ user_set.youngest.days }} days</b>
	<h1>Average age</h1>
	<b> {{ user_set.average_age}}</b>
	<table class="listTable">
		<tr>
			<th>Oldest</th>
			<th>Youngest</th>
			<th>Average age</th>
		</tr>
		<tr>
			<td>{{user_set.oldest.username}}</td>
			<td>{{user_set.youngest.username}}</td>
			<td>{{user_set.average_age}}</td>
		</tr>
	</table>
</body	
