<!DOCTYPE html>
<title> my form </title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
	<form class="form-group" action="" method="POST">
		<div class="form-group">
		{% csrf_token %}
		<div>
			{{form.choice_field}}
		</div>
		<div class="col-xs-3">
			{{form.search }}
		</div>
<button type="submit" class="btn btn-primary">Search</button>
		<!--	<input type="submit" class="btn btn-default" value="Search"> -->
		</div>
	</form>
