<!DOCTYPE html>
{% load static %}
<html>
	<title>{{html_title}}</title>
	<link rel="stylesheet" type="text/css" href="{% static "users/tables.css"%}">
<body>
	{% if not user_set %}
	<h1 class="h1Error">No users found</h1>
	{% else %}
	<!-- create table colums -->
	<table class='listTable'>
		<tr>
			<th>username</th>
			<th>first name</th>
			<th>last name</th>
			<th>email</th>
			<th>birthday</th>
		</tr>
	<!-- now we generate a row for each user -->
	{% for user in user_set %}
	<tr>
		<td>{{user.username}}</td>
		<td>{{user.first_name}}</td>
		<td>{{user.last_name}}</td>
		<td>{{user.email}}</th>
		<td>{{user.reg_date}}</th>
	</tr>
	{% endfor %}
	{% endif %}
	</table>
</body>
</html>
