<!DOCTYPE html>
{% load static %}
<html>
	<title>{{html_title}}</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="{% static "users/tables.css"%}">
<body>
	{% if not result %}
	<h1 class="h1Error">No result found</h1>
	{% else %}
	<!-- create table colums -->
	<table class='table table-hover'>
		<tr>
			<th>username</th>
			<th>first name</th>
			<th>last name</th>
			<th>email</th>
			<th>birthday</th>
		</tr>
	<!-- now we generate a row for each user -->
	<tr>
		<td>{{result.username}}</td>
		<td>{{result.first_name}}</td>
		<td>{{result.last_name}}</td>
		<td>{{result.email}}</th>
		<td>{{result.reg_date}}</th>
	</tr>
	</div>
	{% endif %}
	</table>
</body>
</html>
